<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Wichtige Liste">
    <meta name="keywords" content="list, to do, awesome">
    <meta name="author" content="D. Mongay">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../lib/angular.min.js"></script>
    <script src="src/main.js"></script>
    <title>Wichtige Liste!</title>
</head>

<body ng-app='awesomeListApp'>
    <h1>Wichtige Aufgabe:</h1>
    <div ng-controller='awesomeListAddController as listAdder'>
        <div>
            <textarea type="text" rows="4" cols="50" ng-model="listAdder.itemName"
                placeholder="Ihre Text hier"></textarea>
        </div>
        <div>
            <select name="priority" id="priority" data-ng-model="listAdder.priority">
                <option value=" ">
                </option>
                <option value="Normal Priority"> Normal Priority
                </option>
                <option value="High Priority"> High Priority
                </option>
            </select>
            <button ng-click="listAdder.addItem();">Zur erledigten Liste hinzufügen</button>
        </div>
    </div>

    <div ng-controller='awesomeListShowController as showList'>
        <ol>
            <li ng-repeat="item in showList.items">
                {{ item.quantity }} -> {{ item.name }}
                <button ng-click="showList.removeItem($index);">FERTIG!</button>
            </li>
        </ol>
        <h3>Schon Fertig:</h3>
        <ol>
            <li ng-repeat="item in showList.doneItems">
                {{ item.quantity }} -> {{ item.name }}
            </li>
        </ol>
    </div>
</body>

</html>