<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="awesome list to do awesome stuff">
    <meta name="keywords" content="list, to do, awesome">
    <meta name="author" content="D. Mongay">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../lib/angular.min.js"></script>
    <script src="src/main.js"></script>
    <title>Awesome List!</title>
</head>

<body ng-app='awesomeListApp'>
    <h1>Awesome list of awesome things to do</h1>
    <div ng-controller='awesomeListAddController as listAdder'>
        <input type="text" ng-model="listAdder.itemName" placeholder="item name">
        <input type="text" ng-model="listAdder.itemQuantity" placeholder="quantity">
        <button ng-click="listAdder.addItem();">Add Item To Shopping List</button>
    </div>

    <div ng-controller='awesomeListShowController as showList'>
        <ol>
            <li ng-repeat="item in showList.items">
                {{ item.quantity }} of {{ item.name }}
                <button ng-click="showList.removeItem($index);">Remove Item</button>
            </li>
        </ol>
    </div>
</body>

</html>