<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Wichtige Liste">
    <meta name="keywords" content="list, to do, awesome">
    <meta name="author" content="D. Mongay">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../lib/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

    <link rel="stylesheet" href="../public/style/default.css">
    <script src="src/main.js"></script>
    <title>Lista Increíble!</title>
</head>

<body ng-app='awesomeListApp'>
    <img id="estirada" src="../public/images/tema-griego-colores-clasicos.png" />
    <div class="container-fluid">
        <h1><span class="on-track">Lista Increíble:</span></h1>
        <div>
            <div class="col-md-12">
                <div ng-controller='awesomeListAddController as listAdder'>
                    <div>
                        <textarea class="to-write" type="text" rows="2" cols="60" ng-model="listAdder.itemName"
                            placeholder="Escribe aquí lo que quieres hacer!"></textarea>
                    </div>
                    <div class="row col-md-6">
                        <div class="padd-4px">
                            <select name="priority" id="priority" data-ng-model="listAdder.priority"
                                data-ng-change="listAdder.takeClass();">
                                <option value=""> selecciona prioridad
                                </option>
                                <option class="normal-priority" value="normal-priority"> Normal
                                </option>
                                <option class="high-priority" value="high-priority"> Alta
                                </option>
                                <option class="very-high-priority" value="very-high-priority"> Muy Alta
                                </option>
                            </select>
                        </div>
                        <div class="padd-4px">
                            <button type="button" class="btn btn-outline-primary"
                                ng-click="listAdder.addItem();">Agrégalo!</button>
                        </div>
                    </div>
                    <!-- <div data-ng-if="listAdder.nothingToAdd" class="alert alert-warning row col-md-6" role="alert">
                        No hay nada para agregar! escribe algo ;)</div> -->
                </div>
            </div>


            <div ng-controller='awesomeListShowController as showList' class="row col-md-12">
                <div class="col-md-6">
                    <!-- <div data-ng-show="showList.nothingToDo();" class="alert alert-info">Nada por hacer?</div> -->
                    <ol>
                        <li ng-repeat="item in showList.items">
                            <span data-ng-class="item.quantity">{{ item.quantity }}</span>
                            <span class="on-track"> {{ item.name }} </span>
                            <button type="button" class="btn btn-outline-success btn-sm"
                                ng-click="showList.removeItem($index);">LISTO!</button>
                        </li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <div data-ng-show="!showList.everythingDone();">
                        <h3>
                            <span class="on-track">Cosas increíbles ya listas:</span>
                        </h3>
                    </div>
                    <!-- <div data-ng-show="showList.everythingDone();" class="alert alert-success">Todo listo? seguro?</div> -->
                    <ol>
                        <li ng-repeat="item in showList.doneItems">
                            <span data-ng-class="item.quantity">{{ item.quantity }}</span>
                            <span class="on-track"> {{ item.name }} </span>
                            <button type="button" class="btn btn-outline-light btn-sm"
                                ng-click="showList.returnItem($index);">DEVOLVER</button>
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</body>

</html>